
@import url(./default.css);
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
:root{
    --border: 1px #000 solid;
    --border1-5: 1.5px #000 solid;
    --border3: 3px #000 solid;
    --clrb: #000;
    --clrf: #ffffff;
    --thm-clr: #fc4700;
}
html{
    width: 100vw;
    height: 100vh;
}
body{
    width: 100%;height: 100%;
    font-family: 'Pretendard-Regular', Helvetica,sans-serif ,serif;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}
header{
    top: 0;left: 0;
    /* border-bottom: var(--border); */
}
nav{
    bottom: 0;left: 0;
    /* border-top: var(--border); */
}
header,nav{
    position: fixed;
    width: 100%;
    height: 60px;
    padding: 0 15px;
    text-align: center;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    /* background-color: var(--clrf); */
    z-index: 110;
}
.header-menu{
    height: 100%;
    width: clamp(0%,100%,550px);
    position: fixed;
    top: 0;
    right: 0;
    background-color: var(--clrf);
    border-left: var(--border);
    border-left-color: var(--thm-clr);
    transform: translateX(101%);
    transition: transform .3s ease-in-out;
    z-index: 101;
}
.header-menu-btn{
    --header-menu-size: 35px;
    border: var(--border);
    border-radius: var(--header-menu-size);
    border-color: var(--thm-clr);
    width: var(--header-menu-size);
    height: var(--header-menu-size);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3px;
    background-color: #fff;
    box-shadow: 0px 0px 5px 0px var(--thm-clr);
    color: var(--thm-clr);
    cursor: pointer;
    position: relative;
    transition: transform .5s ease-in-out;
}
.menubar{
    width: 45%;
    border: var(--border1-5);
    border-color: var(--thm-clr);
    border-radius: var(--header-menu-size);
    transition: all .5s ease-in-out;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-50%)
}
        .menubar1{top: 33%;}
        .menubar2{top: 50%;}
        .menubar3{top: 67%;}
#header-menu-btn:checked ~ header .header-menu-btn{
    transform: rotateZ(45deg);
}
#header-menu-btn:checked ~ header .header-menu-btn .menubar1{
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) rotateZ(-90deg);
}
#header-menu-btn:checked ~ header .header-menu-btn .menubar3{
    top: 50%;
    left: 50%;
    transform:  translateX(-50%) translateY(-50%);
}
#header-menu-btn:checked ~ header .header-menu-btn .menubar2{
    border-color: #00000000;
}
#header-menu-btn:checked ~ .header-menu{
    transform: translateX(0);
}
/* 메인 +++++++++++++++++++++++++++++++++++++++++++*/
main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow-x: scroll;
    gap: 10px;
    background-color: var(--thm-clr);
}
.card{
    /* --card-h: calc(100% - 120px); */
    --card-h: 100%;
    /* border-top: var(--border);
    border-bottom: var(--border); */
    /* padding: 0 5px; */
    margin: 0 10px;
    width: clamp(250px, 100%,450px);
    /* height: var(--card-h); */
    height: var(--card-h);
    overflow: hidden;
    position: relative;
}
.card-header{
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px 6px;
    text-align: center;
}
.card-header:hover{
    cursor: pointer;
}
/* 리스트 */
.listbox{
    display: block;
    width: 100%;
    height: 100%;
}
/*  */

    .todo-section,
    .done-section{
        /* border: var(--border); */
        width: 100%;
        height: calc(100% - 150px);
        padding: 3px;
        position: relative;
        background-color: var(--clrf);
    }
    .todo-section{
        border-top: none;
        overflow-y: hidden;
        border-radius: 0 0 30px 30px;
    }
    .done-section{
        border-bottom: none;
        overflow: hidden;
        border-radius: 30px 30px 0 0;
    }
    .todo-section-shade,
    .done-section-shade{
        content: "";
        width: 100%;
        height: 150px;
        position: absolute;
        top: 0;left: 0;
        cursor: pointer;
    }
    .todo-section-shade{
        background: linear-gradient(var(--thm-clr),rgba(0, 0, 0, 0));
        transform: translateY(-65%);
        /* height: 50px; */
    }
    .done-section-shade{
        background: linear-gradient(rgba(0, 0, 0, 0),var(--thm-clr));
        /* transform: translateY(100%); */
    }
/*  */
.todo-section{
    display: flex;
    flex-direction: column;
    padding: 10px 8px;
    gap: 5px;
}
.todolist-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
}
.todolist{
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.todolist li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.todolist li label{
    width: 100%;
}
.list-span{
    font-size: 1.1em;
}
.todo-input-container{
    border: var(--border);
    width: 100%;
    background-color: #ffffffca;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
    border-radius: 25px;
}
.todo-input{
    --todoinput-h:45px;
    height: var(--todoinput-h);
    /* border: var(--border); */
    width: 100%;
    padding: 0 10px;
}

/* 리스트바 */

.listbox{
    transition: all ease-in-out .5s;
}
.listbar-container{
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.listbar{
    width: 50px;
    border: var(--border3);
    border-color: var(--clrf);
    border-radius: 3px;
    margin: 5px auto;
    cursor: pointer;
}

.done-section-shade,
.todo-section-shade{
    transition: all ease-in-out .5s;
}
#cb-card-statu:checked ~ .listbox{
    transform: translateY(-55%);
    transform: translateY(calc(-100% + 300px - 16px));
}
#cb-card-statu:checked ~ .listbox .todo-section-shade{
    top: calc(100% - 150px);
    transform: translateY(0%);
}
#cb-card-statu:checked ~ .listbox .done-section-shade{
    top: calc(100% - 150px);
    /* height: 100%; */
    transform: translateY(65%);
}


/* 리스트 클릭 가운데 줄 */
.list-cb:checked + label .list-span {
    text-decoration-line:line-through;
    color: #ababab;
}