
@import url(./default.css);
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
:root{
    --border: 1px #000 solid;
    --border3: 3px #000 solid;
    --clrb: #000;
    --clrf: #ffffff;
}
html{
    width: 100vw;
    height: 100vh;
}
body{
    width: 100%;height: 100%;
    font-family: 'Pretendard-Regular', Helvetica,sans-serif ,serif;
    display: flex;
    flex-direction: column;
    position: relative;
}
.headr-menu{
    /* border: var(--border); */
    width: 20px;height: 20px;
    float: right;
}
header{
    top: 0;left: 0;
    border-bottom: var(--border);
}
nav{
    bottom: 0;left: 0;
    border-top: var(--border);
}
header,nav{
    position: fixed;
    width: 100%;
    height: 60px;
    padding: 0 15px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--clrf);
}
/* 메인 */
main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;height: 100%;
    overflow-x: scroll;
    gap: 10px;
    background-color: #000;
}
.card{
    --card-h: 550px;
    border-top: var(--border);
    border-bottom: var(--border);
    padding: 5px 0;
    margin: 0 10px;
    width: clamp(250px, 100%,450px);
    /* height: var(--card-h); */
    height: 85%;
    overflow: hidden;
    position: relative;
}
.card-header{
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px 6px;
    text-align: center;
}
.card-header:hover{
    cursor: pointer;
}
/* 리스트 */
.listbox{
    display: block;
    width: 100%;
    height: 100%;
}
/*  */

    .todo-section,
    .done-section{
        border: var(--border);
        width: 100%;
        height: calc(100% - 150px);
        padding: 3px;
        position: relative;
        background-color: var(--clrf);
    }
    .todo-section{
        overflow-y: hidden;
        border-radius: 0 0 30px 30px;
    }
    .done-section{
        overflow: hidden;
        border-radius: 30px 30px 0 0;
    }
    .done-section::after,
    .todo-section::after{
        content: "";
        width: 100%;
        height: 150px;
        position: absolute;
        top: 0;left: 0;
        transition: all ease-in-out .5s;
    }
    .todo-section::after{
        background: linear-gradient(rgba(0, 0, 0, 1),rgba(0, 0, 0, 0));
        transform: translateY(-100%);
    }
    .done-section::after{
        background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 1));
        /* transform: translateY(100%); */
    }
/*  */
.todo-section{
    display: flex;
    flex-direction: column;
    padding: 10px 8px;
    gap: 5px;
}
.todolist{
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column-reverse;
}
.todolist li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}
.todolist li span{
    width: 100%;
}
.todo-input-container{
    border: var(--border);
    width: 100%;
    background-color: #ffffffca;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
    border-radius: 25px;
}
.todo-input{
    --todoinput-h:45px;
    height: var(--todoinput-h);
    /* border: var(--border); */
    width: 100%;
    padding: 0 10px;
}

/* 리스트바 */

.listbox{
    transition: all ease-in-out .5s;
}
.listbar-container{
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.listbar{
    width: 50px;
    border: var(--border3);
    border-color: var(--clrf);
    border-radius: 3px;
    margin: 5px auto;
    cursor: pointer;
}
#cb-card-statu:checked ~ .listbox{
    transform: translateY(-55%);
    transform: translateY(calc(-100% + 300px - 16px));
}
#cb-card-statu:checked ~ .listbox .todo-section::after{
    top: calc(100% - 150px);
    transform: translateY(0%);
}
#cb-card-statu:checked ~ .listbox .done-section::after{
    height: 100%;
    transform: translateY(100%);
}
